:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE8F3;
}

/* globales */
html {
    font-size: 62.5%;
    /* border box define que el tamaño principal de un contenedor es el que le definamos */
    box-sizing: border-box;
}

/* * hace referencia a todos los elementos */
*, *:before, *:after {
    /* se hereda el box sizing border box a todos los elementos */
    box-sizing: inherit;
}


body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    /* color de fondo degradado */
    /* to top es la dirección, hace referencia de abajo hacia arriba, to bottom seria al reves */
    /* ponemos los colores con los que incia y termina y en que posición deben empezar*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* tipografía */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;    
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

/* Titutlos */
.titulo span {
    font-size: 2rem;
}

/* Navegación prinicpal */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    /* alinear elementos horizontalmente cuando flex es column */
    /* align-items: center;  */
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        /* alinear elementos horizontalmente cuando flex es row */
        /* space-between distribuye el espacio solo entre los items, no en los extremos */
        justify-content: space-between; 
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold; /* o 700 */
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    /* toma todo el ancho */
    background-size: cover; 
    height: 450px;
    /* para que el hijo se pueda posicionar sobre este elemento*/
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    /* toma como padre el hero en vez de todo el documento */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); 
    background-color: rgb(0 0 0 / 70%);
    /* tomar el 100% del padre (.hero) */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* alinear  horizontalmente*/
    align-items: center; 
    /* alinear  verticalmente*/
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/* servicios */

@media (min-width: 768px) {
    .servicios {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    /* interlineado */
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    /* 50% para hacer un circulo */
    border-radius: 50%; 
    display: flex;
    /* space evenly dara un margen igual entre todos los items e items extremos */
    justify-content: space-evenly;
    align-items: center;
}